<h1>Editing topping</h1>

<% if @topping.errors.any? %>
  <% @topping.errors.full_messages.each do |message|%>
  <h3><%= message %> </h3>
  <%end%>
<%end%>
</br>

<%= form_for @topping do |f| %>
  Name: <%= f.text_field :name %><br />
  <%= f.submit %>
<% end %>

<br>

<div>
  <%= link_to "Show this topping", @topping %> |
  <%= link_to "Back to toppings", toppings_path %>
</div>
